
body{
    background-color: rgb(129, 93, 46);
}
.text{
    color: white;
    margin-left: 500px;
}
.list{
    margin: 50px 500px;
    background-color: white;
    text-align: justify;
    border: 10px solid white;
    /* width: 1000px;
    margin: 40px auto; */
}
.header{
    background-color: black;

}
#active{
    background-color: rgba(105, 161, 60, 0.452);
}
.header ul{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    width: 700px;
}
.header li{

    margin-left: 120px;
    text-transform: uppercase;
    list-style-type: none;
}
.main{
    display: flex;
}
h1{
    color: rgb(129, 93, 46);
}
.header a{
    color: white;
    text-decoration: none;
}
.panarama{
    width: 1000px;
}
.main a{
    color: rgb(106, 161, 60);
    text-decoration: none;
}
img{
    width: 860px;
}
.xp{
    margin-left: 30px;
    margin-right: 30px;
}
.left{
    margin-left: 50px;
}
.left li{
    list-style-type: none;
}
.right{
    text-align: justify;
}
.left h3{
    background-color: rgb(42, 154, 228);
    border: 5px solid rgb(228, 211, 190);
    color: white;
    padding: 10px;
}
.left{
    padding: 20px;
}
.blok{
    background-color: rgb(228, 211, 190);
    margin-bottom: 50px;
    border: 5px solid rgb(228, 211, 190);
}
h1, h3{
    font-family: 'Poppins', sans-serif;
}
p, li{
    font-family: 'Poppins', sans-serif;
}
.footer{
    background-color: rgb(147, 204, 101);
    padding: 10px;
}
.footer a{
    color: rgb(106, 161, 60);
    text-decoration: none;
}
.footer p{
    text-align: center;
}